/* These are CSS variables */
:root {
    --main: #E2C8BB;
    --secondary: #CDB3A7;
}
@font-face {
    font-family: "gemunu";
    src: url("./GemunuLibre-Regular.ttf");
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
}

/* This is an element tag */
body {
    background-color: var(--main);
    margin: 0px;
}
nav {
    display: flex;
    background-color: var(--secondary);
    padding: 10px;
    font-family: "Roboto";
  }
  nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  nav a:hover {
    background-color: var(--main);
    color: black;
  }
  nav input[type=search] {
    margin-left: auto;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
  }
  @media screen and (max-width: 600px) {
    nav a, nav input[type=search] {
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    
    nav input[type=search] {
      border: 1px solid #ccc;  
    }
  }
.title-holder{
    text-align: center;
}
h1   {

    font-size: 96px;
    font-family: "gemunu";
}
p   {
    font-size: 36px;
    font-family: "roboto";
}
h1,p    {
    display: inline-block;
    padding: 8px 20px;
    color: white; 
    background-color: var(--secondary); 
    padding: 10px;
    text-align: center;
  
}
.shoes {
  text-align: center;
}
 
.shoe-holder {
  display: inline-block;
  margin: 24px;
}

.circle {
  background-color: white;
  box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.circle img {
  width: 140%;
  height: auto;
  position: relative;
  left: -36px;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.shoe-name {
  text-align: center;
}
.button {
  color: white;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  font-size: 36px;
  font-family: "roboto";
  margin: 4px 0px;
  cursor: pointer;
  background-color: #8B7D77;
  border-radius: 44px;
}
/* This is a class */
.container {
    padding: 16px 10vw 16px 10vw;
}